.weather-background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Saira Semi Condensed", sans-serif;
}

.weather-card {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 100px;
  height: 100%;
}

.welcome {
  font-size: 5rem;
}

.weather-like {
  font-size: 2rem;
}

.first-section {
  align-items: end;
}

.temperature {
  font-size: 20px;
}

.inline {
  display: flex;
  justify-content: space-between;
}

hr {
  border: 1px solid white;
}

.second-section {
  background-color: #fff;
  opacity: 0.5;
  color: black;
}
