.weather-background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Saira Semi Condensed", sans-serif;
}

.weather-card {
  display: grid;
  margin: 0 auto;
  height: 100%;
  max-width: 380px;
  text-align: center;
}

.welcome {
  font-size: 2rem;
}

.weather-like {
  font-size: 1rem;
}

.temperature {
  font-size: 20px;
}

.inline {
  display: flex;
  justify-content: space-between;
}

form input {
  height: 30px;
}

.search-button {
  background-color: black;
  color: white;
  margin-left: 10px;
  height: 30px;
  border: none;
}

.show-more {
  cursor: pointer;
}
